<!DOCTYPE html>
<html>
<head>
  <title>Failed</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="failed-container">
    <h1>Failed</h1>

    <p>Sorry, there was an error submitting your appointment request. Please try again later.</p>
  </div>
</body>
</html>