/* Styles for the form */
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="tel"],
input[type="number"],
input[type="datetime-local"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 16px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 25px;
  background: url("dropdown-arrow.png") no-repeat right center;
}

input[type="submit"] {
  padding: 12px 24px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}


.success-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.success-container h1 {
  text-align: center;
  margin-top: 0;
}

.success-container p {
  text-align: center;
}

/* Styles for the failed page */
.failed-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.failed-container h1 {
  text-align: center;
  margin-top: 0;
}

.failed-container p {
  text-align: center;
}

/* Optional: Adjust styles for smaller screens */
@media screen and (max-width: 480px) {
  form {
    width: 100%;
    padding: 10px;
  }
}